@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    text-transform: capitalize;
    font-family: 'cairo';
}

body {
    color: #222;
}

.container {
    width: 90%;
    margin: auto;
}

.header-page {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 15px 40px;
}

.header-page h1 {
    font-size: 25px;
    text-transform: uppercase;
}

.header-page ul {
    list-style: none;
}

.header-page ul li {
    display: inline-block;
    margin: 10px 5px;
}

.header-page ul li a {
    text-decoration: none;
    color: #222;
    font-weight: bold;
}

.welcome {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.welcome .img,.welcome article, .welcome .foods {
    width: calc(100% / 4);
}


.welcome .img img {
    width: 100%;
    margin: auto;
}

.welcome article {
    margin: 20px;
}

.welcome article p {
    width: 90%;
}

.welcome article h2 {
    font-size: 40px;
}

.welcome .foods section {
    padding: 5px;
    background-color: #eee;
    margin: 10px 0;
    border-top-left-radius: 80px;
}

.welcome .foods section img {
    width: 15%;
    margin-top: 10px;
    margin-left: 20px;
}

.welcome .foods section section {
    display: inline-block;
    font-size: 12px;
    margin: 0 5px;
}

.contact .parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 50px 0;
}

.contact .parent section {
    margin: 0 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #222;
}

.contact .parent section svg {
    margin-left: 10px;
    margin-top: 8px;
}

.about {
    margin: 10px 0;
}

.about figure {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.about figure div {
    width: 50%;
}

.about figure img {
    width: 400px;
    margin: 10px 0;
}

.menu header h4 {
    text-align: center;
    font-size: 30px;
}

.menu ul {
    list-style: none;
    text-align: center;
}

.menu ul li {
    display: inline-block;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}

.menu .choose_food {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu .choose_food img {
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.community {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 40px 0;
}

.community button {
    all: unset;
    font-size: 40px;
    font-weight: bold;
} 

.community section {
    width: 300px;
    padding: 20px;
    text-align: center;
    border: 1px solid #222;
    border-radius: 10px;
    background-color: #f1f1f1f1;
}
.community section img {
    width: 100px;
    border-radius: 50%;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px;
    width: 90%;
    margin: auto;
}

footer div {
    width: 50%;
}

footer div h5 {
    font-size: 100px;
}

footer section h6 {
    font-size: 20px;
}

footer section ul {
    font-size: 10px;
    margin-left: 15px;
}

.other_persons {
    text-align: center;
    width: 100%;
    margin: 20px 0;
    display: none;
}

.other_persons button {
    all: unset;
    text-align: center;
    font-weight: bold;
}

footer section svg {
    width: 100px;
}

.nav-bar {
    display: none;

}

.nav-bar svg {
    margin-top: 20px;
}

.box-nav {
    width: 100%;
    height: 107vh;
    position: fixed;
    top: 0;
    left: 600px;
    background-color: #fff;
    display: none;
    overflow: auto;
}

.box-nav .search-close {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 20px 40px;
}

.box-nav ul {
    list-style: none;
    text-align: center;
}

.box-nav ul li {
    margin: 30px 0;
    font-weight: bold;
}

.box-nav ul li a {
    text-decoration: none;
    color: #222;
}

.show {
    display: block;
    left: 0;
    animation-name: show;
    animation-duration: 0.2s;
}

@keyframes show {
    0% {
        left: 600px;
    }
    100% {
        left: 0;
    }
}


.hide {
    left: 600px;
    animation-name: hidee;
    animation-duration: 0.5s;
}

@keyframes hidee {
    0% {
        left: 0;
    }
    100% {
        left: 600px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1020px) {
    .welcome .foods section img {
        width: 10%;
    }

    .welcome article h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 1020px) and (min-width: 870px) {
    .welcome .foods section {
        border-radius: 10px;
    }
    .welcome .foods section img {
        width: 20%;
    }

    .welcome  .foods .food {
        font-size: 5px;
    }

    .welcome article h2 {
        font-size: 20px;
    }
    .community section {
        width: 250px;
    }
}

@media screen and (max-width: 870px) and (min-width: 800px) {
    .welcome .foods section {
        border-radius: 10px;
    }
    .welcome .foods section img {
        width: 20%;
    }

    .welcome  .foods .food {
        font-size: 5px;
    }

    .welcome article h2 {
        font-size: 20px;
    }
    .community section {
        width: 220px;
    }
}

@media screen and (max-width: 800px) and (min-width: 650px) {
    .welcome .foods section {
        border-radius: 10px;
    }
    .welcome .foods section img {
        width: 20%;
    }

    .welcome  .foods .food {
        font-size: 5px;
    }

    .welcome article h2 {
        font-size: 20px;
    }
    .community section {
        width: 180px;
    }
    .about figure div {
        width: 70%;
    }
    .community section {
        width: 25%;
    }
    .community section img {
        width: 50px;
    }
}

@media screen and (max-width: 650px) and (min-width: 640px) {
    .welcome {
        flex-direction: column;
        align-items: center;
    }
    .welcome .foods {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    .welcome .foods section {
        border-radius: 10px;
        background-color: transparent;
    }
    .welcome .foods section img {
        width: 100%;
    }

    .welcome .img {
        width: 90%;
    }

    .welcome  .foods .food {
        font-size: 5px;
    }

    .welcome .foods .food section {
        display: none;
    } 

    .welcome article {
        width: 100%;
        font-size: 15px;
        text-align: center;
    }

    .welcome article h2 {
        font-size: 30px;
    }

    .welcome article p {
        text-align: center;
        width: 100%;
    }

    .community section {
        width: 180px;
    }
    .about figure div {
        width: 90%;
    }
    .about figure img {
        width: 90%;
    }
    .community section {
        width: 25%;
    }
    .community section img {
        width: 50px;
    }
}

@media screen and (max-width: 640px) and (min-width: 560px) {
    .welcome {
        flex-direction: column;
        align-items: center;
    }
    .welcome .foods {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    .welcome .foods section {
        border-radius: 10px;
        background-color: transparent;
    }
    .welcome .foods section img {
        width: 100%;
    }

    .welcome .img {
        width: 90%;
    }

    .welcome  .foods .food {
        font-size: 5px;
    }

    .welcome .foods .food section {
        display: none;
    } 

    .welcome article {
        width: 100%;
        font-size: 15px;
        text-align: center;
    }

    .welcome article h2 {
        font-size: 30px;
    }

    .welcome article p {
        text-align: center;
        width: 100%;
    }

    .community section {
        width: 150px;
    }
    .about figure div {
        width: 90%;
    }
    .about figure img {
        width: 90%;
    }
    .community section {
        width: 25%;
    }
    .community section img {
        width: 50px;
    }
}

@media screen and (max-width: 560px) and (min-width: 500px) {
    .welcome {
        flex-direction: column;
        align-items: center;
    }
    .welcome .foods {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    .welcome .foods section {
        border-radius: 10px;
        background-color: transparent;
    }
    .welcome .foods section img {
        width: 100%;
    }

    .welcome .img {
        width: 90%;
    }

    .welcome  .foods .food {
        font-size: 5px;
    }

    .welcome .foods .food section {
        display: none;
    } 

    .welcome article {
        width: 100%;
        font-size: 15px;
        text-align: center;
    }

    .welcome article h2 {
        font-size: 30px;
    }

    .welcome article p {
        text-align: center;
        width: 100%;
    }

    .community {
        flex-direction: column;
        align-content: center;
    }

    .community button {
        display: none;
    }

    .community section {
        width: 80%;
        margin: 10px 0;
    }

    .about figure div {
        width: 90%;
    }
    .about figure img {
        width: 90%;
    }
    .other_persons {
        display: block;
    }
}

@media screen and (max-width: 500px) and (min-width: 420px) {
    .welcome {
        flex-direction: column;
        align-items: center;
    }
    .welcome .foods {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    .welcome .foods section {
        border-radius: 10px;
        background-color: transparent;
    }
    .welcome .foods section img {
        width: 100%;
    }

    .welcome .img {
        width: 90%;
    }

    .welcome  .foods .food {
        font-size: 5px;
    }

    .welcome .foods .food section {
        display: none;
    } 

    .welcome article {
        width: 100%;
        font-size: 15px;
        text-align: center;
    }

    .welcome article h2 {
        font-size: 30px;
    }

    .welcome article p {
        text-align: center;
        width: 100%;
    }

    .community {
        flex-direction: column;
        align-content: center;
    }

    .community button {
        display: none;
    }

    .community section {
        width: 80%;
        margin: 10px 0;
    }

    .about figure div {
        width: 90%;
    }
    .about figure img {
        width: 90%;
    }
    .other_persons {
        display: block;
    }
    .nav-bar {
        display: block;
    }
    .header-page ul {
        display: none;
    }
    .header-page .search {
        display: none;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
    .welcome .img img {
        width: 100%;
        margin: auto;
    }
    
    .welcome .foods {
        width: 100%;
    }
    
    .welcome .foods .food img {
        padding: 10px;
        margin: auto;
    }
}

@media screen and (max-width: 420px) {
    .header-page {
        margin: 15px 5px;
        justify-content: space-between; 
    }
    .welcome {
        flex-direction: column;
        align-items: center;
        width: 95%;
        margin: auto;
    }
    .welcome .foods {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    .welcome .foods section {
        border-radius: 10px;
        background-color: transparent;
    }
    .welcome .foods section img {
        width: 100%;
    }

    .welcome .img {
        width: 90%;
    }

    .welcome  .foods .food {
        font-size: 5px;
    }

    .welcome .foods .food section {
        display: none;
    } 

    .welcome article {
        width: 89%;
        font-size: 15px;
        text-align: center;
    }

    .welcome article h2 {
        font-size: 30px;
    }

    .welcome article p {
        text-align: center;
        width: 100%;
    }

    .community {
        flex-direction: column;
        align-content: center;
    }

    .community button {
        display: none;
    }

    .community section {
        width: 80%;
        margin: 10px 0;
    }

    .about figure div {
        width: 90%;
    }
    .about figure img {
        width: 90%;
    }
    .other_persons {
        display: block;
    }
    .nav-bar {
        display: block;
    }
    .header-page ul {
        display: none;
    }
    .header-page .search {
        display: none;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
    footer div {
        width: 30%;
    }
    footer div h5 {
        font-size: 50px;
    }
    .welcome .img img {
        width: 100%;
        margin: auto;
    }
    
    .welcome .foods {
        width: 100%;
    }
    
    .welcome .foods .food img {
        padding: 10px;
        margin: auto;
    }
    .menu .choose_food div img {
        width: 115px;
    }
    .menu ul li {
        font-size: 10px;
    }
    footer div {
        text-align: center;
        width: 90%;
        margin: auto;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        width: 1400px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 175px) {
    .box-nav {
        height: 500vh;
    }
}